
:root {
    --main-color: #E84118;
    --text-color: #333;
  }
  
  /* style.css */
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    margin: 0;
    color: var(--text-color);
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 18px;
  }
  
  a {
    text-decoration: none;
    color: #333;
  }
  
  p {
    margin-bottom: 27px;
    line-height: 30px;
  }
  
  header {
    text-align: center;
    border-bottom: 1px solid #ccc;
    padding-top: 40px;
    padding-bottom: 40px;
    width: 100%;
  }
  
  header p {
    font-weight: bold;
    font-size: 20px;
    color: #707070;
    margin-bottom: 0;
  }
  
  header h1 {
    margin-bottom: 10px;
    font-weight: normal;
    font-size: 50px;
  }
  
  header h1 a span {
    color: #E84118;
  }
  
  
  .linkBtn {
    display: inline-block;
    background: var(--main-color);
    width: 180px;
    height: 40px;
    color: #fff;
    text-align: center;
    line-height: 40px;
    font-size: 15px;
  }